@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

*  {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
/*Typography
--------------------------------------------------------------*/

:root {
    --primary-color: #fffdf7;
    --secondary-color: #6b3426;
    --triciary-color: #349db6;
}
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: var(--primary-color);
}

img { 
    width: 100%;
}

header > div {
    flex-basis: 10em;
}

.container {
    background: var(--triciary-color);
    display: flex;
    flex-wrap: wrap;
    margin: 125px auto;
    width: 90%;
    padding: 1em;
    border-radius: 5px;
}

.plant {
    flex-grow: 1;
    background: gray;
    text-align: center;
    padding: .5em;
    margin: .2em;
    /* min-width: 109px;
    max-width: 190px; */
    flex-basis: 150px;
    border-radius: 5px;
    /* font-size: 1.5em; 14px root */
}

footer {
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    display: flex;
    align-items: center;
    padding: .5em;
    font-size: 2em;
    margin: 0 auto;
    flex-basis: 10em;
}

header,
h1 {
    background: linear-gradient( lightblue 50%, tan 85%, brown 90%,green 100%);
}

p {
    margin-bottom: 10px;
}
